p#name{ 
  font-size: 100px;
  margin: 0px;
}

p#function{
  font-size: 60px;
  margin: -30px 0px 0px 0px;
}

p#location{
  font-size: 40px;
  margin: 0px;
}

.profile{
  margin: 100px;
}

#buttonMessage {
  margin-top: 20px;
}